@import url("./reset.css");
*{
  border: 1px solid blue
  
}
.content-container {
  max-width: 400px;
  margin: auto;
}
header {
background-color: red;
padding: 1.5 rem 0;
}
header.img {
  display: block;
  margin: 1rem auto;
}